@{
    ViewBag.Title = "Error";
}

<script>
function goBack()
  {
  window.history.back()
  }
</script>

<h2>Error Detected</h2>

<p>No records of the said Order ID exist.</p>

<input type="button" value="Back" onclick="goBack()">
