@model IEnumerable<MvcDemo.Models.PickupDB>
@{ViewBag.Title = "About Us";}
 
<h2>Developer's info</h2>

<fieldset>
    <legend>About me</legend>
<table>
    <tr>
        <th>Name:</th><td>Nikhil Krishna Karje</td>
    </tr>
    <tr>
        <th>College of Engineering:</th><td>Gogte Institute of Technology</td>
    </tr>
    <tr>
        <th>Branch:</th><td>Electronics and Communication</td>
    </tr>
</table>
</fieldset><br />
<fieldset>
    <legend>Contact information</legend>
    <table>
        <tr>
            <th>Email id:</th><td>nikhilkarje@live.com</td>
        </tr>
        <tr>
            <th>Contact number:</th><td>9590966005</td>
        </tr>
        <tr>
            <th>Current Address:</th><td>28, Devikrupa, Kaveribai Layout, Appurao Rd,<br />6th Main, Chamrajpet, Bengaluru: 560018.</td>
        </tr>
    </table>
</fieldset>

